<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>detail</title>
  <style>
    table, tr, td, th {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
    }
  </style>
</head>
<body>
<table>
  <tr>
    <th>id</th>
    <td>[[${board.id}]]</td>
  </tr>
  <tr>
    <th>title</th>
    <td>[[${board.board_title}]]</td>
  </tr>
  <tr>
    <th>writer</th>
    <td>[[${board.board_writer}]]</td>
  </tr>
  <tr>
    <th>date</th>
    <td>[[${board.create_date}]]</td>
  </tr>
  <tr>
    <th>hits</th>
    <td>[[${board.board_hits}]]</td>
  </tr>
  <tr>
    <th>contents</th>
    <td>[[${board.board_contents}]]</td>
  </tr>
  <tr th:if="${board.file_attached == 1}">
    <th>image</th>
    <td th:each="file : ${boardFileList}">
      <img th:src="@{|/upload/${file.storedfilename}|}"
        width="200" height="200">
    </td>
  </tr>
</table>
<button onclick="listReq()">목록</button>
<button onclick="updateReq()">수정</button>
<button onclick="deleteReq()">삭제</button>
</body>
<script th:inline="javascript">
  const listReq = () => {
    location.href="/list";
  }

  const updateReq = () => {
    location.href=`/update/[[${board.id}]]`;
  }

  const deleteReq = () => {
    location.href=`/delete/[[${board.id}]]`;
  }
</script>
</html>